<button (click)="getPosts()">getPosts</button>
<button (click)="getPost()">getPost</button>
<button (click)="getPostByUser()">getPostByUser</button>
<button (click)="addPost()">addPost</button>
<button (click)="updatePost()">updatePost</button>
<button (click)="deletePost()">deletePost</button>
<button (click)="changePost()">changePost</button>


<div *ngFor="let p of allPosts$ | async">
  {{p.title}}
</div>
